<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block layout:fragment="searchCondition">
    <div class="search-select">
        <label>• 검색조건 &nbsp;</label>
        <select name="searchType" id="searchType">
            <option value="">전체</option>
            <option value="user_id">ID</option>
            <option value="user_nm">이름</option>
            <option value="email">이메일</option>
            <option value="tel">연락처</option>
            <option value="role_cd">권한</option>
            <option value="job_cd">직무</option>
            <option value="dept_cd">부서</option>
        </select>
    </div>
    <div class="search-input">
        <p class="fl-ac">
            <label for="searchKeyword">• 검색어 &nbsp;</label>
            <input type="text" class="w400" id="searchKeyword" name="searchKeyword" placeholder="ID/이름/이메일/연락처/권한/직무/부서 검색" />
        </p>
    </div>
    <div class="search-select search-useyn-radio">
        <label class="search-useyn-label">• 사용여부 &nbsp;</label>
        <div class="radio-box search-useyn-options">
            <label for="searchUseYnAll">
                <input type="radio" id="searchUseYnAll" name="searchUseYnRadio" value="" checked>
                전체
            </label>
            <label for="searchUseYnY">
                <input type="radio" id="searchUseYnY" name="searchUseYnRadio" value="Y">
                사용
            </label>
            <label for="searchUseYnN">
                <input type="radio" id="searchUseYnN" name="searchUseYnRadio" value="N">
                미사용
            </label>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div class="content-title fl-sb fl-ac">
        <h4 class="page-sub-title">사용자 정보</h4>
        <div class="btn-area">
            <button type="button" class="btn btn-main-add"><img src="./images/common/btn-ico-plus.png">등록</button>
            <button type="button" class="btn btn-main-edit"><img src="./images/common/btn-ico-pencil.png">수정</button>
            <button type="button" class="btn btn-main-del"><img src="./images/common/btn-ico-trash.png">삭제</button>
        </div>
    </div>
    <div class="content list-area grid-pager-fixed">
        <div class="table-wrap grid-pager-fixed-wrap">
            <div id="TABLE_USER"></div>
        </div>
    </div>

    <div class="modal-wrap content" id="view-user-area" style="display: none">
        <div class="modal-container">
            <div class="header">
                <h4>사용자 관리 <span>상세</span></h4>
                <span class="modal-close" onclick="closeUserViewModal()"></span>
            </div>
            <div class="modal-content">
                <article>
                    <div class="div-table">
                        <ul>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">ID</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_user_id"></p>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">이름</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_user_nm"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">e-mail</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_email"></p>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">연락처</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_tel"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">권한</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_role_cd"></p>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">직무</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_job_cd"></p>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">부서</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_dept_cd"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">사용 여부</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_use_yn"></p>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">활성화 여부</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_lock_yn"></p>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col">
                                <div class="table-cell">
                                    <p class="cell-tit">비고</p>
                                    <div class="cell-info">
                                        <p class="text" id="view_remark"></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="modal-btn">
                <ul>
                    <li>
                        <button class="btn btn-close" onclick="closeUserViewModal()">
                            닫기
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal-wrap content" id="write-user-area" style="display: none">
        <div class="modal-container">
            <div class="header">
                <h4>사용자 관리 <span class="edit-mode">등록</span></h4>
                <span class="modal-close" onclick="closeUserWriteModal()"></span>
            </div>
            <div class="modal-content">
                <article>
                    <div class="div-table">
                        <ul>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">아이디</p>
                                    <div class="cell-info"><input type="text" class="text" id="write_user_id"
                                            placeholder="아이디"></div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">이름</p>
                                    <div class="cell-info"><input type="text" class="text" id="write_user_nm"
                                            placeholder="이름"></div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">비밀번호</p>
                                    <div class="cell-info"><input type="password" class="text" id="write_pwd_hash"
                                            placeholder="비밀번호"></div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">이메일</p>
                                    <div class="cell-info"><input type="text" class="text" id="write_email"
                                            placeholder="이메일"></div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">연락처</p>
                                    <div class="cell-info"><input type="text" class="text" id="write_tel"
                                            placeholder="연락처"></div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">권한</p>
                                    <div class="cell-info">
                                        <select id="write_role_cd">
                                            <option value="">선택</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">직무</p>
                                    <div class="cell-info">
                                        <select id="write_job_cd">
                                            <option value="">선택</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">부서</p>
                                    <div class="cell-info">
                                        <select id="write_dept_cd">
                                            <option value="">선택</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col fl-ac">
                                <div class="table-cell">
                                    <p class="cell-tit">사용여부</p>
                                    <div class="cell-info">
                                        <select id="write_use_yn">
                                            <option value="Y">Y</option>
                                            <option value="N">N</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="table-cell">
                                    <p class="cell-tit">활성화 여부</p>
                                    <div class="cell-info">
                                        <select id="write_lock_yn">
                                            <option value="N">Y</option>
                                            <option value="Y">N</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="table-col">
                                <div class="table-cell">
                                    <p class="cell-tit">비고</p>
                                    <div class="cell-info"><input type="text" class="text" id="write_remark"
                                            placeholder="비고"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="modal-btn">
                <ul>
                    <li>
                        <button class="btn btn-close" onclick="closeUserWriteModal()">
                            닫기
                        </button>
                    </li>
                    <li><button class="btn btn-save" id="btn-user-save">저장</button></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/js/api/cm/cm010.js"></script>
    <script src="/js/api/common.js"></script>
</th:block>

</html>
