<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block th:fragment="tab2Content">
    <div class="content list-area">
        <div class="tab-area mg-b15">
            <span class="tab-sub-btn fs13 active" data-tab="tab2-A">보유역량</span>
            <span class="tab-sub-btn fs13" data-tab="tab2-B">숙련도</span>
        </div>
        <div class="content-body">
            <!-- Tabulator 테이블 div -->
            <div id="TABLE_HR012_A"></div>
            <!-- Tabulator 테이블 div -->
            <div id="TABLE_HR012_B" style="display:none;"></div>
        </div>
    </div>
</th:block>

</html>
