<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block th:fragment="tab4Content">
    <div class="content hms-tab-wrap tab4-content">
        <div class="hr014-shell">
            <div class="hms-tab-wrap">
                <p id="hr014-prj-hid" style="display: none"></p>
                <div class="hr014-toolbar-01">
                    <div class="hr014-title-wrap">
                        <p class="tool-title">2) 자사 프로젝트 평가 / 리스크 관리
                            <span id="hr014-count" class="hcnc-grid-count hcnc-grid-count-title"
                                data-grid-for="HCNC_PRJ">
                                총 <span class="hcnc-grid-count-number">0</span>건
                            </span>
                        </p>
                    </div>
                </div>
                <div class="hr014-toolbar-02" style="display: none;">
                    <div class="hr014-title-wrap">
                        <p class="tool-title">리스크 관리</p>
                    </div>
                    <div class="risk-extra">
                        <label class="risk-check">
                            <span>재투입 가능여부</span>
                            <input type="checkbox" id="HR014_REIN_CHECK">
                        </label>
                    </div>
                </div>
                <div class="hr014-tab-panels">
                    <div class="hr014-tab-panel active" id="HR014_TAB_A">
                        <div class="scroll-body">
                            <select class="select_prj_cd"></select>
                            <div class="content-body">
                                <div id="TABLE_HR014_A" class="th-effect"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hr014-tab-panel" id="HR014_TAB_B">
                        <div class="scroll-body">
                            <div class="content-body">
                                <div class="risk-wrap">
                                    <div class="risk-box risk-box-top">
                                        <div class="risk-list risk-list-top" id="HR014_RISK_LIST"></div>
                                        <div class="risk-detail">
                                            <textarea id="HR014_RISK_TEXT" placeholder="이탈이력을 구체적으로 입력하세요."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>
