<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 추가 버튼 정의 -->
<th:block layout:fragment="additionalButtons">
    <button type="button" class="btn-excel">엑셀 다운로드</button>
<!-- <button type="button" class="btn-print">출력</button> -->
<!-- <button type="button" class="btn-approve">승인</button> -->
</th:block>

<th:block layout:fragment="searchCondition">
    <div class="search-input">
        <p class="fl-ac">
            <label for="insertNM" class="pd-r15">성명</label>
            <input type="text" id="insertNM" name="insertNM" placeholder="성명(을)를 입력하세요" />
        </p>
    </div>
    <div class="search-input">
        <p class="fl-ac">
            <label for="searchKeyword" class="pd-r15">Tag</label>
            <input type="text" id="searchKeyword" name="searchKeyword" placeholder="검색어를 입력하세요"/>
        </p>
    </div>
</th:block>

<!-- 실제 컨텐츠 영역 -->
<th:block layout:fragment="content">
    <div class="content-title fl-sb fl-ac">
        <h4 class="page-sub-title">인적사항 리스트</h4>
        <div class="btn-area">
            <button type="button" class="btn bg-primary btn-main-view">조회</button>
            <button type="button" class="btn bg-primary btn-main-add">등록</button>
            <button type="button" class="btn btn-main-edit">수정</button>
            <button type="button" class="btn btn-main-del">삭제</button>
        </div>
    </div>
    <div class="content list-area">
        <div class="table-wrap">
            <div id="TABLE_HR010_A"></div>
        </div>
        <input type="hidden" id="dev_id" name="dev_id" th:value="${dev_id}">
    </div>

    <!-- 모달 -->
    <div class="modal-wrap" id="view-user-area" style="display:none">
        <div class="modal-container-detail">
            <div class="header">
                <h4>인력 관리 <span class="modal-title">상세</span></h4>
                <div class="btn-area">
                    <button class="close-btn" onclick="closeUserViewModal()"><img src="../icons/icon-close.png" alt=""/></button>
                </div>
            </div>

            <div class="modal-content">
                <div class="top-article">
                    <div class="fl-ac title-area">
                        <h5 class="mg-r5">인적사항 <label class="show_devId"></label></h5>
                        <div class="type"> <span id="dev_type2"></span></div>
                    </div>
                    <div class="modal-human-area fl-sa" id="TABLE_HR010_B">
                        <div class="pic-area fd-col">
                            <div class="profile-area">
                                <img src="../images/common/profile.png" alt="profile"/>
                            </div>
                            <div class="upload">
                                <input type="file" class="file">
                                <button type="button" class="showingbtn">사진 업로드</button>
                            </div>
                        </div>
                        <div class="table-area">
                            <table >
                                <colgroup>
                                    <col style="width: 13%;">
                                    <col style="width: 20%;">
                                    <col style="width: 13%;">
                                    <col style="width: 20%;">
                                    <col style="width: 13%;">
                                    <col style="width: 20%;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>성명</th>
                                        <td><input type="text" id="dev_nm" disabled></td>
                                        <th>생년월일</th>
                                        <td><input type="date" id="brdt"></td>
                                        <th>연락처</th>
                                        <td><input type="text" id="tel" disabled></td>
                                    </tr>
                                    <tr>
                                        <th>이메일</th>
                                        <td><input type="email" id="email" disabled></td>
                                        <th>거주지역</th>
                                        <td><input type="text" id="region" disabled></td>
                                        <th>주 개발언어</th>
                                        <td><input type="text" id="main_lang" disabled ></td>
                                    </tr>
                                    <tr>
                                        <th>경력연차</th>
                                        <td><input type="text" id="exp_yr" disabled></td>
                                        <th>최종학력</th>
                                        <td><input type="text" id="edu_last" disabled></td>
                                        <th>보유 자격증</th>
                                        <td><input type="text" id="cert_txt" disabled></td>
                                    </tr>
                                    <tr>
                                        <th>소속 구분</th>
                                        <td>
                                            <select id="dev_type">
                                                <option value="">프리랜서/직원</option>
                                                <option value="HCNC_F">프리랜서</option>
                                                <option value="HCNC_S">직원</option>
                                            </select>
                                        </td>
                                        <th>등급</th>
                                        <td>
                                            <div class="fw600 ta-c" id="grade"></div>
                                            <div class="fw600 ta-c" id="score"></div>
                                        </td>
                                        <th>근무 가능형태</th>
                                        <td>
                                            <select id="work_md">
                                                <option value="">상주/재택/혼합</option>
                                                <option value="01">상주</option>
                                                <option value="02">재택</option>
                                                <option value="03">혼합</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>희망단가</th>
                                        <td>
                                            <input type="text" id="hope_rate_amt" disabled>
        <!--                            <td>-->
        <!--                                <select id="hope_rate_typ" style="width:100%">-->
        <!--                                    <option value="">일/월</option>-->
        <!--                                    <option value="01">일</option>-->
        <!--                                    <option value="02">월</option>-->
        <!--                                </select>-->
        <!--                            </td>-->
                                        </td>
                                        <th>투입 가능 시점</th>
                                        <td><input type="date" id="avail_dt"></td>
                                        <th>계약 형태</th>
                                        <td>
                                            <select id="ctrt_typ">
                                                <option value="">개인/법인</option>
                                                <option value="01">개인</option>
                                                <option value="02">법인</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-article">
                    <div class="fl-ac title-area mg-t15">
                        <h5 class="mg-r5">상세정보</h5>
                    </div>
                    <!-- 좌측 -->
                    <div class="tab-area mg-b15">
                        <span class="tab-btn fs13 active" data-tab="tab1">소속 및 계약정보</span>
                        <span class="tab-btn fs13" data-tab="tab2">보유역량 및 숙련도</span>
                        <span class="tab-btn fs13" data-tab="tab3">프로젝트</span>
                        <span class="tab-btn fs13" data-tab="tab4">평가 및 리스크</span>
                    </div>

                    <div class="tab-content">
                        <div id="tab1" class="tab-panel active">
                            <div th:insert="~{views/hr010/hr011 :: tab1Content}"></div>
                        </div>
                        <div id="tab2" class="tab-panel">
                            <div th:insert="~{views/hr010/hr012 :: tab2Content}"></div>
                        </div>
                        <div id="tab3" class="tab-panel">
                            <div th:insert="~{views/hr010/hr013 :: tab3Content}"></div>
                        </div>
                        <div id="tab4" class="tab-panel">
                            <div th:insert="~{views/hr010/hr014 :: tab4Content}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-btn fl-ac fl-sb">
                <ul>
                    <li><button type="button" class="popup-btn-new">등록</button></li>
                    <li><button type="button" class="popup-btn-edit">수정</button></li>
                    <li><button type="button" class="popup-btn-delete">삭제</button></li>
                </ul>
                <ul>
                    <li>
                        <button class="btn btn-close" onclick="closeUserViewModal()">
                            닫기
                        </button>
                    </li>
                    <li><button class="btn btn-save btn-user-save">저장</button></li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/js/api/hr010/hr011.js"></script>
    <script src="/js/api/hr010/hr012.js"></script>
    <script src="/js/api/hr010/hr013.js"></script>
    <script src="/js/api/hr010/hr014.js"></script>
    <script src="/js/api/hr010/hr010.js"></script>
</th:block>
</html>