<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block layout:fragment="tab1Content">
    <div class="tab-panel" id="tab1">

        <div class="content list-area">
            <section class="white-full">
                <div class="content-body">
                    <div id="TABLE_HR011_A">

                    </div>
                </div>
            </section>
        </div>

    </div>
</th:block>

</html>
