<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block th:fragment="tab3Content">
    <div class="content tab3-content hms-tab-wrap">
        <div class="hr013-toolbar page-sub-title fl-sb">
            <div class="hr013-table-header">
                <p class="tool-title">참여 프로젝트
                    <span id="hr013-count" class="hcnc-grid-count hcnc-grid-count-title" data-grid-for="TABLE_HR013_A">
                        총 <span class="hcnc-grid-count-number">0</span>건
                    </span>
                </p>
                <div class="hr011-section-head-actions">
                    <button type="button" class="btn hr011-section-add-btn" id="hr011QuickAddProjectBtn">프로젝트 추가</button>
                    <button type="button" class="btn hr011-section-edit-btn" id="hr011QuickEditProjectBtn">프로젝트 수정</button>
                    <button type="button" class="btn hr011-section-remove-btn" id="hr011QuickRemoveProjectBtn">프로젝트 삭제</button>
                </div>
            </div>

<!--            <div class="tab-actions" data-tab="tab3">-->
<!--                <div class="btn-area">-->
<!--                    <button type="button" onclick="location.href='/templates/ExcelUpload_Temp.xlsx'">-->
<!--                        <img src="/icons/btn-ico-excel-download.png" alt="엑셀 양식 다운로드">양식 다운로드-->
<!--                    </button>-->
<!--                    <input type="file" id="excelFile" style="display: none" accept=".xls,.xlsx" />-->
<!--                    <button type="button" id="btnUpload">-->
<!--                        <img src="/icons/btn-ico-excel-upload.png" alt="엑셀 파일 업로드">엑셀 업로드-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-tab3-add">-->
<!--                        <img src="./images/common/btn-ico-plus.png" alt="프로젝트 추가">추가-->
<!--                    </button>-->
<!--                    <button type="button" class="btn btn-tab3-remove">-->
<!--                        <img src="/icons/btn-ico-trash.png" alt="삭제">삭제-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="scroll-body">

            <div class="hr013-list-header">
                <!--<div>당사여부</div>-->
                <div>고객사</div>
                <div>프로젝트명</div>
                <div>기술스택</div>
                <div>역할</div>
                <div>투입률</div>
                <div>진행기간</div>
                <div>계약단가</div>
                <!--<div>비고</div>-->
            </div>

            <div class="content-body">
                <!-- Tab3 내용 -->
                <div id="TABLE_HR013_A"></div>
                <div id="HR013_PAGER"></div>
            </div>
        </div>
    </div>

</th:block>

</html>