@charset "UTF-8";
/*=================================================================================
 * Grid
 =================================================================================*/
 /* Grid */
 .subtab-content .grid-wrap {height: calc(100% - 40px);}
 .subtab-content .grid-wrap02 {height: calc(100% - 125px);}
 .grid-wrap {overflow: auto; height:calc(100% - 35px);}
 .grid-tit {display: flex; justify-content: space-between; align-items: center;  margin-bottom:8px;}
 .grid-tit .tit {display: flex; align-items: center;}
 .title {font-size: 16px; font-weight: 700; margin-bottom: 8px;}
 .grid-tit .input-srch {margin-top: -8px;}
 .grid-tit h3 {font-size: 18px; font-weight: 800;}
 .grid-tit h3 span {vertical-align: baseline;}
 .grid-tit .total-txt {display: flex; align-items: center;}
 .grid-tit .total-txt::before {content: ''; width: 1px; height: 14px; background-color: #919191; margin: 0 10px; display: -webkit-inline-box;}
 .grid-tit .total-txt input[type="text"]{width: 22px; height: 14px; text-align: center; border: none; color: #0184E4; display: inline-block; padding: 3px; min-width: inherit; font-size: 14px;}
 .grid-tit .total-txt span:nth-child(2) {color: #0184E4; padding: 3px;}
 .grid-tit .total-txt span {color: #919191; font-weight: 400;}
 .select-txt {font-size: 15px; font-weight: 600; margin-left: 5px; padding: 4px 20px 3px 20px; background-color: #fff9da; color: #ff8000; border-radius: 30px;}
 
 /* grid btn */
 .grid-btn {display: flex; margin-top:-8px;}
 .grid-btn li {margin-left:5px;}
 .grid-btn li a {display: block; background-color:#F2F5F9; border:1px solid #78889C; color:#5B6F88; padding:8px 15px 6px 15px; border-radius: 5px; font-size: 15px; font-weight: 600;}
 
 /* filter box */
.filter-box{ display: flex; align-items:center; flex-flow: row wrap; margin:0 auto 20px; padding:10px 25px 0px 25px; border:1px solid #c5c8cc; border-radius:10px; background-color:#e9ebef;}
.filter-box dl{display:flex; align-items:center; gap:15px; margin: 0px 30px 10px 0;}
.filter-box dl dt::before{content:''; width:4px; height:16px; margin-right:9px; transform:translateY(3px); display:inline-block; background-color:#B3BFC7; border-radius: 2px;}
.filter-box input[type="text"] {width: 160px;}
.filter-box input[type="text"], .filter-box select{min-width: 50px;}

.req {position: relative;}
.req::before {content: ''; position: absolute; top: 1px; left: 1px; border-left: 10px solid #E9475A; border-bottom: 10px solid transparent; border-right: 10px solid transparent;}
.sum {background-color: #fff7f8 !important; font-weight: 600; border-top: 2px solid #f2dddd; color: #ed2455;}
.sum th {background-color: #ffedef !important; color: #ed2455;}
.sum td {font-weight: 600; color: #ed2455;}
th.sum {background-color: #ffedef !important;}
.disable {background-color: #eee; color: #333;}


/*=================================================================================
 * Table - common
 =================================================================================*/
/* table-top , table-wrap */
.table-top{display: flex; justify-content: space-between;}
.table-top li:last-child{margin-right:0;}
.table-top li label{font-size:14px; font-weight:500; padding:7px 0 7px 10px; margin-right:5px; position:relative;}
.table-top li label:before{position:absolute; top:15px; left:0; content:''; display:block; width:4px; height:4px; border-radius:50%; background-color:#137c53;}
.table-top li input{width:120px; padding:7px 10px; border-radius:4px; border:1px solid #dde3e6;}
.table-top li input[type="checkbox"]{border:none; width:auto; padding:7px 10px;}

 /* Search */
.board-srch {margin-right:10px;}
.board-srch ul{display:flex;}
.board-srch ul li {margin-right:20px; display:flex;}
.board-srch ul li:last-child {margin-right:0px;}

/* Table > Button */
table a.btn {padding:3px 10px;}

/* Paging */
.paging-box ul {display: flex; justify-content: center; align-items: center; padding: 30px 0 0 0;}
.paging-box ul li a {padding: 6px 9px; display:block; width:30px; height:30px; border: 1px solid #ebebeb; text-align: center; margin-right: 10px; border-radius: 100%; background-color: #fff;}
.paging-box ul li a:hover {background-color:#f4f8fb;}
.paging-box ul li a.on {background-color: #018ace; color: #fff; border: none;}

/* Tabulate */
.tabulator-row.tabulator-selectable:hover .tabulator-cell {background-color: #fff8f8 !important; color: #ed2455;}
.tabulator-row.tabulator-selected div.tabulator-cell {color: #ff8000 !important; font-weight: 500 !important; background-color: #fff9da !important}
.tabulator .tabulator-header {width: auto;}
.tabulator-row .tabulator-cell.tabulator-editing > * {font-size: 15px !important;}

/* Treemenu */
.tree-menu-wrap .tabulator-row.tabulator-tree-level-0 > div {font-weight: 700; color: #ED242C;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-1 > div {font-weight: 700;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-1 .tabulator-data-tree-branch {margin-left: 10px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-2 .tabulator-data-tree-branch {margin-left: 30px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-3 .tabulator-data-tree-branch {margin-left: 50px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-4 .tabulator-data-tree-branch {margin-left: 70px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-5 .tabulator-data-tree-branch {margin-left: 90px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-6 .tabulator-data-tree-branch {margin-left: 110px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-7 .tabulator-data-tree-branch {margin-left: 130px !important;}
.tree-menu-wrap .tabulator-row.tabulator-tree-level-8 .tabulator-data-tree-branch {margin-left: 150px !important;}

/* Active */
.tabulator-row.click-on {}
.tabulator-row.click-on > div.tabulator-cell {color: #ff8000 !important; font-weight: 600 !important; background-color: #fff9da !important}

/* 합계 테이블 */
.totalgrid .tabulator-row:nth-child(2n) .tabulator-cell{background-color: rgb(255, 252, 229) !important; color: #000;}
.totalgrid .tabulator-row:nth-child(3n) .tabulator-cell{background-color: #fff7f8 !important; color: #ed2455;}


/*=================================================================================
 * Table - list, write
 =================================================================================*/
/* Table - List style*/
.table-list {width:100%; border-top:2px solid #6B6D74; background-color:#fff;}
.table-list tr {height: 35px;}
.table-list tbody tr:hover {background-color:#fff8f8 !important; color:#ff518a;}
.table-list th {border:1px solid #E0E3E8; background-color:#F1F1F5; padding:7px 10px; font-weight:600; white-space: nowrap;}
.table-list th:first-child {border-left:0;}
.table-list th:last-child {border-right:0;}
.table-list th.value::before {display: inline-block; content: "*"; color: #E9475A; margin-right: 3px;}
.table-list td {min-height: 32px; border:1px solid #E0E3E8; padding:6px 10px; text-align:center; font-size:15px; font-weight:400; white-space: nowrap;}
.table-list td:first-child {border-left:0;}
.table-list td:last-child {border-right:0;}
.table-list tr:first-child td {border-top: 0;}
.table-list tr:nth-child(even){background-color: #FBFCFE;}

/* Table - Write style*/
.table-write { width:100%; border-top: 2px solid #6B6D74; border-collapse: inherit;}
.table-write tbody th:first-child {border-left:0;}
.table-write tbody td:last-child {border-right:0;}
.table-write tbody th {color:#333; white-space: nowrap; padding:5px 10px; font-weight: 600; background-color: #F1F1F5; border-left:1px solid #E0E3E8; border-bottom: 1px solid #E0E3E8; border-right:1px solid #E0E3E8;  height: 35px;}
.table-write tbody td {padding:5px 10px; border-bottom:1px solid #E0E3E8; font-weight:400;}
.table-write tbody textarea{min-width:100%;}
.table-write input {width:100% ;}
.table-write input[type="radio"] {min-width: auto; width:20px;}
.table-write input[type="date"].cal-date {min-width: auto;}
.table-write .date-box li {width: 50%;}
.table-write .date-box li:nth-child(2) {width: auto;}
.table-write .select {width: 100%;}

/* Table - Write2 gap style*/
.table-write2 { width:100%; border-collapse: inherit;}
.table-write2 th{text-align:center;}
.table-write2 tbody th:first-child {border-left:0;}
.table-write2 tbody td:last-child {border-right:0;}
.table-write2 tbody th {position:relative; height:48px; padding:5px 10px; font-weight: 600; background-color: #F8F9FD; border-left:10px solid rgba(0,0,0,0); border-bottom: 10px solid rgba(0,0,0,0); border-right:none;}
.table-write2 tbody td {position:relative; padding:5px 10px; border-bottom:10px solid rgba(0,0,0,0); font-weight:400;}
.table-write2 tbody td > img{max-width:100%;}
.table-write2 tbody th:before{content:''; position:absolute; left:0; top:0; width:calc(100% - 2px); height:calc(100% - 2px); border:1px solid #333;}
.table-write2 tbody td:before{content:''; position:absolute; left:0; top:0; width:calc(100% - 2px); height:calc(100% - 2px); border:1px solid #333; border-left:none;}
.table-write2 tbody textarea{min-width:100%;}
.table-write2 input {width:100% ; min-width: 100%;}
.table-write2 input[type="radio"] {min-width: auto; width:20px;}
.table-write2 input[type="date"].cal-date {min-width: auto;}
.table-write2 .date-box li {width: 50%;}
.table-write2 .date-box li:nth-child(2) {width: auto;}
.table-write2 .select {width: 100%;}

/* Table - List Etc style*/
.table-etc01 {width:100%; background-color:#fff;}
.table-etc01 tr {min-height:20px;}
.table-etc01 tr:hover {background-color:#f4f8fb;}
.table-etc01 th {border-bottom:1px solid #e8e8e8; background-color:#f7f7f7; padding:5px 25px; text-align:left; font-weight:600;}
.table-etc01 th:first-child {border-left:0;}
.table-etc01 th:last-child {border-right:0;}
.table-etc01 td {border-bottom:1px solid #e8e8e8; padding:6px 5px; text-align:left; font-size:13px; background-color:#fafafa;}
.table-etc01 td:hover{background-color:#f4f8fb;}
.table-etc01 td:first-child {border-left:0;}
.table-etc01 td:last-child {border-right:0;}


/*=================================================================================
 * Borard view- Common
=================================================================================*/
.board-view  {border-top: 2px solid #6B6D74;}
.board-view .stat a {text-align: center; margin-right: 10px;}
.board-view .info {display: flex; justify-content: start;}
.board-view .info ul {display: flex; align-items: center;}
.board-view .info li {display: flex; align-items: center; font-size: 16px;}
.board-view .info li::after {content: ""; display: block; border: 1px solid #C7C7C7; margin: 0 10px;}
.board-view .info li:last-child::after {display: none;}
.board-view .info li::before {content: ""; display: inline-block; width: 18px; height: 18px; margin-right: 10px;} 
.board-view .info li.hope-date {color: #4D72A8; font-weight: 800;}
.board-view .info li.user::before {background: url(../images/sub/ico-user.png) 100% no-repeat;}
.board-view .info li.business::before {background: url(../images/sub/ico-building.png) 100% no-repeat;}
.board-view .info li.board-date::before {background: url(../images/sub/ico-clock.png) 100% no-repeat;}
.board-view .info li.viewer::before {background: url(../images/sub/ico-viewer.png) 100% no-repeat;}
.board-view .cont {min-height: 200px; font-size: 17px; height: auto; margin-bottom: 30px;}
.board-view .date {font-size: 14px;}

.board-view .admin-state {margin-top: 10px; text-align: right;}

.ques-section {margin-bottom: 50px;}
.ques-tit {background-color: #F1F1F5; padding: 26px 25px; display: flex; justify-content: space-between; align-items: center; min-height: 80px;}
.ques-tit h3 {font-size: 22px; color: #333; font-weight: 800;}
.ques-section .ques-tit > div {display: flex;}
.cont {padding: 20px;}
.file-down-wrap {border-top: 1px solid #DBDBDB; border-bottom: 1px solid #DBDBDB;}
.file-down-wrap ul {display: flex; flex-wrap: wrap; align-items: center;}
.file-down-wrap ul li {margin-right: 5px;}
.file-down-wrap ul li.tit{background: #F8F8F8; padding: 17px 51px; border-right: 1px solid #DBDBDB; font-weight: 600;}
.file-down-wrap ul li a {background: url(../images/sub/ico-clip.png) 5% 45% no-repeat; padding: 4px 12px 5px 24px; display: inline-block; font-size: 14px; border-radius: 2px; color: #6F6F6F;}
.file-down-wrap ul li a:hover {background: url(../images/sub/ico-download.png) 5% 45% no-repeat !important; color: #185AB6; font-weight: 600;}

.answer-section {margin-bottom: 30px;}
.answer-cont-wrap .btn-wrap {justify-content: flex-end;}
.comment-box {margin-top: 20px; padding: 15px 20px 15px 20px; background-color: #f6f6f6; border: 1px solid #d8d8d8; margin-bottom: 25px;}
.comment-box .com-view {padding-top: 20px; border-top:1px solid #ddd;}
.comment-box .com-view ul li:first-child {position: relative;}
.comment-box .com-view ul li:first-child p {position: absolute; display: inline-block; bottom: 15px; right: 15px;}
.comment-box .com-view textarea {padding: 10px; font-size: 15px; max-height: 100px; color: #979797;} 
.comment-box ul li.btn-enrollmen-wrap {text-align: right; margin-top: 10px;}
.btn-enrollment {background-color: #354358; color: #fff; border-radius: 5px; padding: 10px 26px 11px 27px; display: inline-block; white-space: nowrap;}

.add-comment-wrap {background-color: #fff; border: 1px solid #D3DBE2; padding: 15px 25px; margin: 10px 0; display: flex; justify-content: space-between; flex-flow: column wrap;}
.com-add-info {display: flex; justify-content: space-between;}
.com-add-view {margin-top: 8px; font-size: 15px; font-weight: 500;}
.com-add-info ul {display: flex; align-items: center;}
.com-add-info ul li {display: flex; font-size: 14px; font-weight: 500;}
.com-add-info ul li.date {margin-right: 10px; color: #999;}
.com-add-info ul li.name {color: #0a65b3; margin-right: 15px;}
.com-add-info ul li:last-child:after {display: none;}
.btn-edit-list {position: relative;}
.btn-edit-list ul {display: flex; align-items: center;}
.btn-edit-list ul li {padding: 0 10px; cursor: pointer; border-right: 1px solid #ddd;}
.btn-edit-list ul li:last-child {border-right: none;}
.add-btn-wrap {background-color: #fff; border: 1px solid #0A65B3; border-radius: 5px; display: none; position: absolute; right: 20px;}
.add-btn-wrap ul li {border-bottom: 1px solid #0A65B3;}
.add-btn-wrap ul li:last-child {border-bottom: 0;}
.add-btn-wrap ul li a {padding: 8px 23px 7px 23px; display: inline-block; color: #0A65B3; font-weight: 600;}
.add-btn-wrap ul li a:hover {background-color: #0A65B3; color: #fff;}
.reply .add-comment-wrap2 {padding: 6px 15px; position: relative; border-radius: 6px;}
.reply .add-comment-wrap2::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -20px;
    vertical-align: middle;
    height: 9px;
    width: 9px;
    margin-top: -9px;
    margin-right: 5px;
    border-bottom-left-radius: 1px;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}
.reply .add-comment-wrap .reply {
    margin-left: 60px;
}
.comment-box > div.reply {margin-left: 0 !important;}
.comment-box > div.reply > .add-comment-wrap {padding: 10px 20px;}
.comment-box > div.reply > .add-comment-wrap::before {display: none;}

.reply-write {position: relative; display: flex; align-items: center;}
.reply-write p {padding: 0 20px 0 50px;}
.reply-write::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 20px;
    vertical-align: middle;
    height: 9px;
    width: 9px;
    margin-top: -9px;
    margin-right: 5px;
    border-bottom-left-radius: 1px;
    border-left: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
}
.board-skip {border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;}
.board-skip ul {border-bottom: 1px solid #e3e3e3; display: flex;}
.board-skip ul:last-child {border-bottom: 0;}
.board-skip ul li {padding: 17px 20px; font-size: 17px;}
.board-skip ul li:first-child {width: 10%; text-align: center; font-weight: 600;}
.board-skip ul li:first-child::before {content: ""; display: inline-block; width: 16px; height: 10px; margin-right: 8px;}

/*=================================================================================
 * Table - thumb (썸네일)
 =================================================================================*/


 .vue-treeselect__menu {z-index: 999; background-color: #fff !important;}