<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcncinit.Hr013Mapper">

    <!-- [Tab3] 개발자 프로젝트/단가 이력 > 조회 -->
    <select id="selectList" resultType="hashmap" parameterType="map">
        SELECT	prj.dev_prj_id
             , 	prj.dev_id
             , 	prj.inprj_yn
             , 	prj.st_dt
             , 	prj.ed_dt
             , 	CONCAT(
                IFNULL(DATE_FORMAT(prj.st_dt, '%Y.%m'), ''),
                ' ~ ',
                IFNULL(DATE_FORMAT(prj.ed_dt, '%Y.%m'), '')
                  ) AS st_ed_dt
             , prj.cust_nm
             , prj.prj_nm
             , rate.rate_amt
             , prj.job_cd
             , fn_get_cm('job_cd', prj.job_cd) AS role_nm
             , prj.stack_txt
             , fn_get_cm_lst('skl_id', prj.stack_txt) AS stack_txt_nm
             , prj.alloc_pct
             , prj.remark
             ,  JSON_ARRAYAGG(JSON_OBJECT('code', jt.code, 'label', fn_get_cm('skl_id', jt.code))) AS skl_id_lst
        FROM tb_dev_prj_info prj
                 JOIN JSON_TABLE(
                CASE WHEN prj.stack_txt IS NULL OR TRIM(prj.stack_txt) = ''
                         THEN '[]'
                     WHEN JSON_VALID(prj.stack_txt)
                         THEN prj.stack_txt
                     ELSE CONCAT('["', REPLACE(REPLACE(TRIM(prj.stack_txt), ' ', ''), ',', '","'), '"]')
                    END
            , '$[*]' COLUMNS (
			code VARCHAR(30) PATH '$'
		)
                      ) jt
                 LEFT JOIN tb_dev_rate_info rate
                           ON 	prj.dev_prj_id = rate.dev_prj_id
                               AND prj.dev_id = rate.dev_id
                               AND rate.rate_id = (
                                   SELECT 	r2.rate_id
                                   FROM 	tb_dev_rate_info r2
                                   WHERE 	r2.dev_prj_id = prj.dev_prj_id
                                     AND r2.dev_id = prj.dev_id
                                     AND r2.del_yn = 'N'
                                     AND r2.use_yn = 'Y'
                                   ORDER BY r2.rate_id DESC LIMIT 1
            )
        WHERE 	prj.dev_id = #{dev_id}
          AND prj.use_yn = 'Y'
          AND prj.del_yn = 'N'
        GROUP BY prj.dev_prj_id
        ORDER BY prj.st_dt DESC, prj.dev_prj_id DESC
        ;
    </select>

    <!-- [Tab3] 프로젝트 > 등록 -->
    <insert id="insertProject" parameterType="map" useGeneratedKeys="true" keyProperty="dev_prj_id">
        INSERT INTO tb_dev_prj_info (
            dev_id,
            st_dt,
            ed_dt,
            cust_nm,
            prj_nm,
            job_cd,
            stack_txt,
            alloc_pct,
            remark,
            inprj_yn,
            use_yn,
            del_yn,
            crt_ts,
            crt_by,
            upd_ts,
            upd_by
        ) VALUES (
            #{dev_id},
            #{st_dt},
            #{ed_dt},
            #{cust_nm},
            #{prj_nm},
            #{job_cd},
            #{stack_txt},
            #{alloc_pct},
            #{remark},
            #{inprj_yn},
            'Y',
            'N',
            NOW(),
            #{userId},
            NOW(),
            #{userId}
        )
    </insert>

    <!-- [Tab3] 프로젝트 > 수정 -->
    <update id="updateProject" parameterType="map">
        UPDATE tb_dev_prj_info
        SET st_dt = #{st_dt},
        ed_dt = #{ed_dt},
        cust_nm = #{cust_nm},
        prj_nm = #{prj_nm},
        job_cd = #{job_cd},
        stack_txt = #{stack_txt},
        alloc_pct = #{alloc_pct},
        remark = #{remark},
        inprj_yn = #{inprj_yn},
        upd_ts = NOW(),
        upd_by = #{userId}
        WHERE dev_prj_id = #{dev_prj_id}
    </update>

    <!-- [Tab3] 프로젝트 > 삭제(소프트) -->
    <update id="deleteProject" parameterType="map">
        UPDATE tb_dev_prj_info
        SET del_yn = 'Y',
        del_ts = NOW(),
        del_by = #{userId}
        WHERE dev_prj_id = #{dev_prj_id}
    </update>

    <!-- [Tab3] 단가 이력 > 삭제(소프트) -->
    <update id="deleteRateByProject" parameterType="map">
        UPDATE tb_dev_rate_info
        SET del_yn = 'Y',
        del_ts = NOW(),
        del_by = #{userId}
        WHERE dev_prj_id = #{dev_prj_id}
        AND dev_id = #{dev_id}
    </update>

    <!-- [Tab3] 최신 단가 조회 -->
    <select id="selectLatestRate" resultType="java.math.BigDecimal" parameterType="map">
        SELECT rate_amt
        FROM tb_dev_rate_info
        WHERE dev_prj_id = #{dev_prj_id}
        AND dev_id = #{dev_id}
        AND del_yn = 'N'
        AND use_yn = 'Y'
        ORDER BY rate_id DESC
        LIMIT 1
    </select>

    <!-- [Tab3] 단가 이력 저장 -->
    <insert id="insertRate" parameterType="map">
        INSERT INTO tb_dev_rate_info (
            dev_prj_id,
            dev_id,
            rate_amt,
            remark,
            use_yn,
            del_yn,
            crt_ts,
            crt_by,
            upd_ts,
            upd_by
        ) VALUES (
            #{dev_prj_id},
            #{dev_id},
            #{rate_amt},
            #{remark},
            'Y',
            'N',
            NOW(),
            #{userId},
            NOW(),
            #{userId}
        )
    </insert>

</mapper>
