<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block th:fragment="tab2Content">
    <div class="content tab2-content">
        <div class="hr014-shell">
            <div class="hms-tab-wrap">
                <div class="hr014-side-tabs" id="HR014_SIDE_TABS">
                    <button type="button" class="hr012-tab-btn active" data-tab="tab2-A">
                        <span class="tab-text">보유역량</span>
                    </button>
                    <button type="button" class="hr012-tab-btn" data-tab="tab2-B">
                        <span class="tab-text">숙련도</span>
                    </button>
                </div>
                <div class="hr012-toolbar-01 fl-sb">
                    <p class="tool-title">보유역량 목록<span id="hr012b-count" class="hcnc-grid-count hcnc-grid-count-title"
                            data-grid-for="TABLE_HR012_B">
                            총 <span class="hcnc-grid-count-number">0</span>건
                        </span>
                    </p>

                    <div class="btn-area">
                        <button type="button" class="btn btn-add-skill" id="btn_hr012_skill_picker">
                            <img src="./images/common/btn_search_outlined.png" alt="기술 선택">기술 선택
                        </button>
                    </div>
                </div>

                <div class="scroll-body">
                    <div class="content-body">
                        <!-- Tabulator 테이블 div -->
                        <div id="TABLE_HR012_A" class="th-effect"></div>
                        <div class="hr012-toolbar-02 page-sub-title fl-sb" style="display: none;">
                            <p class="tool-title">숙련도 평가</p>
                        </div>
                        <!-- Tabulator 테이블 div -->
                        <div id="TABLE_HR012_B" class="th-effect" style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>