<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<!-- 추가 버튼 정의 -->
<th:block layout:fragment="additionalButtons">
    <button type="button" class="btn-excel">엑셀 다운로드</button>
    <!-- <button type="button" class="btn-print">출력</button> -->
    <!-- <button type="button" class="btn-approve">승인</button> -->
</th:block>

<th:block layout:fragment="searchCondition">
    <div class="search-input">
        <p class="fl-ac">
            <label for="insertNM" class="">• 성명 &nbsp;</label>
            <input type="text" class="hr010-search-input hr010-search-name-input" id="insertNM" name="insertNM" placeholder="성명을 입력하세요" />
        </p>
    </div>
    <div class="search-input">
        <p class="fl-ac">
            <label for="searchKeyword" class="">• 검색어 &nbsp;</label>
            <input type="text" class="hr010-search-input hr010-search-keyword-input" id="searchKeyword" name="searchKeyword" placeholder="성명/연락처/이메일/거주지역/기술 검색" />
        </p>
    </div>
</th:block>

<!-- 실제 컨텐츠 영역 -->
<th:block layout:fragment="content">

    <!-- ================= 메인 리스트 ================= -->
    <div class="content-title fl-sb fl-ac">
        <h4 class="page-sub-title">인적사항 리스트</h4>
        <div class="btn-area">
            <button type="button" class="btn bg-primary btn-main-view">상세보기</button>
            <button type="button" class="btn btn-main-add">
                <img src="./images/common/btn-ico-plus.png" alt="등록">등록</button>
            <button type="button" class="btn btn-main-edit">
                <img src="./images/common/btn-ico-pencil.png" alt="수정">수정</button>
            <button type="button" class="btn btn-main-del">
                <img src="./images/common/btn-ico-trash.png" alt="삭제">삭제</button>
        </div>
    </div>

    <div class="content list-area grid-pager-fixed" id="hms-table">
        <div class="table-wrap grid-pager-fixed-wrap" id="hms-table-wrap">
            <div id="TABLE_HR010_A"></div>
        </div>
        <input type="hidden" id="dev_id" name="dev_id" th:value="${dev_id}">
    </div>

    <!-- ================= 모달 ================= -->
    <div class="modal-wrap " id="view-user-area" style="display:none">
        <div class="modal-container-detail main-human-modal">

            <!-- header -->
            <div class="header">
                <h4>인력 관리 <span id="modal-title">상세</span></h4>
                <div class="btn-area">
                    <button class="close-btn" onclick="closeUserViewModal()">
                        <img src="../icons/icon-close.png" alt="" />
                    </button>
                </div>
            </div>

            <!-- modal-content -->
            <div class="modal-content hr010-main-pop">

                <!-- ================= 상단 인적사항 ================= -->
                <div class="top-article">

                    <div class="fl-ac title-area">
                        <h5 class="mg-r5">인적사항</h5>
                    </div>

                    <div class="modal-human-area fl-sa" id="TABLE_HR010_B">
                        <div class="table-area">
                            <table>
                                <tr class="hidden"><th>직원코드</th><td><div class="fl-ct wp100 fs16 none_editable_text" id="dev_id_input"></div></td></tr>
                                <tr>
                                    <th>성명</th>
                                    <td colspan="2"><input type="text" class="wp100" id="dev_nm" disabled></td>
                                    <td>
                                        <select id="dev_type" class="wp100 dev-type">
                                            <option value="">프리랜서/직원</option>
                                            <option value="HCNC_F">프리랜서</option>
                                            <option value="HCNC_S">직원</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>생년월일</th>
                                    <td colspan="2" ><input type="date" class="wp100" id="brdt"></td>
                                    <td rowspan="4">
                                        <div class="pic-area fd-col">
                                            <div class="profile-area">
                                                <img id="dev_img" src="" alt="profile" />
                                                <div class="upload">
                                                    <input id="fileProfile" type="file" class="file">
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>연락처</th>
                                    <td colspan="2" ><input type="text" class="wp100" id="tel" disabled></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td colspan="2" ><input type="email" class="wp100" id="email" disabled></td>
                                </tr>
                                <tr>
                                    <th>거주지역</th>
                                    <td colspan="2" ><input type="text" class="wp100" id="region" disabled></td>
                                </tr>
                                <tr>
                                    <th>
                                        근무가능형태
                                    </th>
                                    <td>
                                        <select id="select_work_md" class="wp100"></select>
                                    </td>
                                    <th rowspan="3">등급</th>
                                    <td rowspan="3">
                                        <div class="fl-ct fd-col wp100 ta-c">
                                            <span class="fs32 fw700" id="grade"></span>
                                            <span class="fs16" id="score"></span>
                                            <div id="aboutGrade">
                                                <img src="../icons/ico-support.png" alt="상세보기" />
                                                <div class="tooltip">
                                                    <table class="score-table">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                                보유기술
                                                                <span class="max-score">40점</span>
                                                            </th>
                                                            <th>
                                                                업무태도
                                                                <span class="max-score">30점</span>
                                                            </th>
                                                            <th>
                                                                재계약의사
                                                                <span class="max-score">20점</span>
                                                            </th>
                                                            <th>
                                                                단가경쟁력
                                                                <span class="max-score">10점</span>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <!-- 보유기술 -->
                                                            <td>
                                                                <div class="score-section">
                                                                    보유한 기술 개수에 따라 등급이 산정됩니다.
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>S 등급</strong>
                                                                    <ul>
                                                                        <li>15개 이상 & 90점 이상</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>A 등급</strong>
                                                                    <ul>
                                                                        <li>10 ~ 15개 & 60 ~ 90점</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>B 등급</strong>
                                                                    <ul>
                                                                        <li>5 ~ 10개 & 30 ~ 60점</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>C 등급</strong>
                                                                    <ul>
                                                                        <li>5개 미만 & 30점 미만</li>
                                                                    </ul>
                                                                </div>
                                                            </td>

                                                            <!-- 업무태도 -->
                                                            <td>
                                                                <div class="score-section">
                                                                    평가 점수 기준으로 등급이 산정됩니다.
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>S 등급</strong>
                                                                    <ul>
                                                                        <li>21점 초과</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>A 등급</strong>
                                                                    <ul>
                                                                        <li>15 ~ 21점</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>B 등급</strong>
                                                                    <ul>
                                                                        <li>10 ~ 15점</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>C 등급</strong>
                                                                    <ul>
                                                                        <li>10점 미만</li>
                                                                    </ul>
                                                                </div>
                                                            </td>

                                                            <!-- 재계약의사 -->
                                                            <td>
                                                                <div class="score-section">
                                                                    <ul>
                                                                        <li>재계약 의사 있음</li>
                                                                    </ul>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="score-section">
                                                                    직무 유형에 따라 기준 단가가 다르게 적용됩니다. (PM/PL/개발자)
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>S 등급</strong>
                                                                    <ul>
                                                                        <li>1,000 / 800 / 600만원 이하</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>A 등급</strong>
                                                                    <ul>
                                                                        <li>1,000 / 800 / 600 ~ 1,200 / 900 / 700만원</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>B 등급</strong>
                                                                    <ul>
                                                                        <li>1,200 / 900 / 700 ~ 1,300 / 1,000 / 800만원</li>
                                                                    </ul>
                                                                </div>

                                                                <div class="score-section">
                                                                    <strong>C 등급</strong>
                                                                    <ul>
                                                                        <li>1,300 / 1,000 / 800만원 초과</li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>경력연차</th>
                                    <td class="career-exp-cell">
                                        <div class="career-spin-wrap">
                                            <div class="career-spin-field">
                                                <input type="number" class="career-spin-input" id="exp_yr_year" min="0" max="99" step="1" value="0" disabled>
                                                <div class="career-spin-buttons">
                                                    <button type="button" class="career-spin-btn" data-target="#exp_yr_year" data-step="1" aria-label="경력연차 년 증가">▲</button>
                                                    <button type="button" class="career-spin-btn" data-target="#exp_yr_year" data-step="-1" aria-label="경력연차 년 감소">▼</button>
                                                </div>
                                            </div>
                                            <span>년</span>
                                            <div class="career-spin-field">
                                                <input type="number" class="career-spin-input" id="exp_yr_month" min="0" max="99" step="1" value="0" disabled>
                                                <div class="career-spin-buttons">
                                                    <button type="button" class="career-spin-btn" data-target="#exp_yr_month" data-step="1" aria-label="경력연차 개월 증가">▲</button>
                                                    <button type="button" class="career-spin-btn" data-target="#exp_yr_month" data-step="-1" aria-label="경력연차 개월 감소">▼</button>
                                                </div>
                                            </div>
                                            <span>개월</span>
                                            <input type="hidden" id="exp_yr">
                                        </div>
                                        <span id="exp_yr_text" class="career-exp-text"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>최종학력</th>
                                    <td><input type="text" class="wp100" id="edu_last" disabled></td>
                                </tr>
                                <tr>
                                    <th>보유자격증</th>
                                    <td colspan="3"><input type="text" class="wp100" id="cert_txt" disabled></td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>주개발언어</p>
                                    </th>
                                    <td colspan="3">
                                        <div class="tag-select-row">
                                            <button type="button" class="btn btn-add-skill btn-main-lang-picker" id="btn_main_lang_picker">기술 선택</button>
                                            <input type="hidden" id="main_lang">
                                            <select id="main_lang_select" style="display:none"></select>
                                        </div>
                                        <div class="tag-input">
                                            <div class="tag-input-box">
                                                <div class="tag-help"></div>
                                                <ul class="tag-list" id="mainLangTagList"></ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>단가</th>
                                    <td colspan="3"><input type="text" class="wp100" id="hope_rate_amt" disabled></td>
                                </tr>
                                <tr>
                                    <th>투입가능시점</th>
                                    <td colspan="3"><input type="date" class="wp100" id="avail_dt"></td>
                                </tr>
                                <tr>
                                    <th>계약형태</th>
                                    <td colspan="3"><select id="select_ctrt_typ" class="wp100"></select></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- ================= 탭 영역 ================= -->
                <div class="tab-article">
                    <div class="fl-ac title-area">
                        <h5 class="mg-r5">상세정보</h5>
                    </div>
                    <!-- 좌측 -->
                    <div class="tab-area">
                        <span class="tab-btn active" data-tab="tab1">소속 및 계약정보</span>
                        <span class="tab-btn" data-tab="tab2">보유역량 및 숙련도</span>
                        <span class="tab-btn" data-tab="tab3">프로젝트</span>
                        <span class="tab-btn" data-tab="tab4">평가 및 리스크</span>
                    </div>

                    <div class="tab-content">
                        <div id="tab1" class="tab-panel active">
                            <div th:insert="~{views/hr/hr011 :: tab1Content}"></div>
                        </div>
                        <div id="tab2" class="tab-panel">
                            <div th:insert="~{views/hr/hr012 :: tab2Content}"></div>
                        </div>
                        <div id="tab3" class="tab-panel">
                            <div th:insert="~{views/hr/hr013 :: tab3Content}"></div>
                        </div>
                        <div id="tab4" class="tab-panel">
                            <div th:insert="~{views/hr/hr014 :: tab4Content}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ================= 하단 버튼 ================= -->
            <div class="modal-btn">
                <ul>
                    <li>
                        <button class="btn btn-excel" id="btn-excel" onclick="location.href='/common/getExcel'">엑셀
                            다운로드</button>
                    </li>
                    <li>
                        <button class="btn btn-save" id="btn-user-save">저장</button>
                    </li>
                </ul>
            </div><!-- modal-btn -->
        </div><!-- modal-container-detail -->
    </div><!-- modal-wrap -->

    <div class="modal-wrap" id="main-lang-picker-area" style="display:none">
        <div class="modal-container main-lang-picker-container">
            <div class="header">
                <h4>주 개발언어 선택</h4>
                <div class="btn-area">
                    <button class="close-btn" type="button" id="btn_main_lang_picker_close_x">
                        <img src="../icons/icon-close.png" alt="" />
                    </button>
                </div>
            </div>
            <div class="modal-content main-lang-picker-content">
                <div class="main-lang-picker-search-row">
                    <label for="main-lang-picker-search">기술 검색</label>
                    <div class="main-lang-picker-search-wrap">
                        <input type="text" id="main-lang-picker-search" class="wp100" placeholder="기술명 입력 후 선택"
                            autocomplete="off">
                        <ul class="main-lang-picker-suggest" id="main-lang-picker-suggest"></ul>
                    </div>
                    <span class="main-lang-picker-meta" id="main-lang-picker-meta"></span>
                </div>
                <div id="TABLE_MAIN_LANG_PICKER"></div>
            </div>
            <div class="modal-btn">
                <ul>
                    <li>
                        <button type="button" class="btn btn-close" id="btn_main_lang_picker_apply">적용</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- scripts -->
    <script src="/js/api/hr/hr011.js"></script>
    <script src="/js/api/hr/hr012.js"></script>
    <script src="/js/api/hr/hr013.js"></script>
    <script src="/js/api/hr/hr014.js"></script>
    <script src="/js/api/hr/hr010.js"></script>
    <script src="/js/api/common.js"></script>

</th:block>

</html>
