<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block th:fragment="tab4Content">
    <div class="content list-area tab4-content">
        <div class="hr014-shell">
            <div class="hr014-tab-wrap">
                <div class="hr014-side-tabs" id="HR014_SIDE_TABS">
                    <button type="button" class="hr014-tab-btn active" data-tab="hr014-A">관리자 평가</button>
                    <button type="button" class="hr014-tab-btn" data-tab="hr014-B">리스크 관리</button>
                </div>
                <div class="hr014-toolbar-01 fl-sb">
                    <p class="tool-title">관리자 평가</p>
                </div>
                <div class="hr014-toolbar-02 fl-sb" style="display: none;">
                    <p class="tool-title">리스크 관리</p>
                    <div class="risk-extra">
                        <label class="risk-check">
                            <span>재투입 가능여부</span>
                            <input type="checkbox" id="HR015_REIN_CHECK">
                        </label>
                    </div>
                </div>
                <div class="hr014-tab-panels">
                    <div class="hr014-tab-panel active" id="HR014_TAB_A">
                        <div class="content-body">
                            <div id="TABLE_HR014_A"></div>
                        </div>
                    </div>
                    <div class="hr014-tab-panel" id="HR014_TAB_B">
                        <div class="content-body">
                            <div class="risk-box risk-box-top">
                                <div class="risk-list risk-list-top" id="HR015_RISK_LIST"></div>
                                <div class="risk-detail">
                                    <textarea id="HR015_RISK_TEXT" placeholder="관련 내용을 구체적으로 입력하세요."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>
