<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 추가 버튼 정의 -->
<th:block layout:fragment="additionalButtons">
    <button type="button" class="btn-excel">엑셀 다운로드</button>
    <button type="button" class="btn-print">출력</button>
    <button type="button" class="btn-approve">승인</button>
</th:block>

<!-- 검색 조건 커스터마이징 (필요한 경우) -->
<th:block layout:fragment="searchCondition">
    <div class="search-select">
        <p>성명</p>
        <input type="text" id="insertNM" name="insertNM" placeholder="성명(을)를 입력하세요">
    </div>
    <div class="search-input">
        <p>태그</p>
        <p class="fl-ac">
            <label for="tagInput"></label>
            <input type="text" id="tagInput" name="tags" th:value="${tagString}" placeholder="태그를 입력해주세요."/>
        </p>
    </div>
</th:block>

<!-- 실제 컨텐츠 영역 -->
<th:block layout:fragment="content">
    <div class="content">
        <div class="form-wrap">
            <h5>○ 인적사항</h5>
            <div class="hrm-detail-wrap" style="display: flex; gap: 20px;">
                <div class="col" style="width: 40%;">
                    <table class="hrm-detail-table">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 40%;">
                            <col style="width: 10%;">
                            <col style="width: 30%;">
                        </colgroup>
                        <tr>
                            <th>성명</th>
                            <td id="dev_nm_td"></td>
                            <td colspan="2" rowspan="5">
                                <img src="../images/common/profile.png" alt="profile">
                                <button>파일 업로드</button>
                            </td>
                        </tr>
                        <tr>
                            <th>생년월일</th>
                            <td>
                                <input type="date" id="brdt_td" style="width: 100%" />
                            </td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td id="tel_td"></td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td id="email_td"></td>
                        </tr>
                        <tr>
                            <th>거주지역</th>
                            <td id="region_td"></td>
                        </tr>
                        <tr>
                            <th>주 개발언어</th>
                            <td id="main_lang_td"></td>
                            <th rowspan="3">등급</th>
                            <td colspan="3" rowspan="3" style="text-align: center;">S<br>(90점)</td>
                        </tr>
                        <tr>
                            <th>경력연차</th>
                            <td id="exp_yr_td"></td>
                        </tr>
                        <tr>
                            <th>최종학력</th>
                            <td id="edu_last_td"></td>
                        </tr>
                        <tr>
                            <th>보유 자격증</th>
                            <td colspan="4" id="cert_txt_td"></td>
                        </tr>
                        <tr>
                            <th>근무가능형태</th>
                            <td colspan="4" id="work_md_td">
                                <select id="work_md" style="width: 100%">
                                    <option value="" selected>상주/재택/혼합</option>
                                    <option value="01">상주</option>
                                    <option value="02">재택</option>
                                    <option value="03">혼합</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>희망단가</th>
                            <td>
                                <select id="" style="width: 100%">
                                    <option value="" selected>일/월</option>
                                    <option value="01">일</option>
                                    <option value="02">월</option>
                                </select>
                            </td>
                            <td colspan="2" id="hope_rate_amt_td" style="text-align: right;"></td> <!-- work_md_td + hope_rate_typ -->
                        </tr>
                        <tr>
                            <th>투입가능시점</th>
                            <td colspan="3">
                                <input type="date" id="avail_dt_td" style="width: 100%" />
                            </td>
                        </tr>
                        <tr>
                            <th>계약형태</th>
                            <td colspan="4" id="ctrt_typ_td">
                                <select id="ctrt_typ" style="width: 100%">
                                    <option value="" selected>개인/법인</option>
                                    <option value="01">개인</option>
                                    <option value="02">법인</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="dev_id" name="dev_id">
                </div>
                <div class="col" style="width: 60%;">

                    <div>
                        <span class="tap-btn">소속및 계약정보</span>
                        <span class="tap-btn">보유역량 및 숙련도</span>
                        <span class="tap-btn">프로젝트</span>
                        <span class="tap-btn">평가 및 리스크</span>
                    </div>
                    <div>
                        <span class="tap-btn">보유역량</span>
                        <span class="tap-btn">숙련도</span>
                    </div>

                    <table class="temp-table">
                        <colgroup>
                            <col style="width: 20%;">
                            <col>
                            <col>
                        </colgroup>
                        <tr>
                            <th>구분</th>
                            <th>상세</th>
                        </tr>
                        <tr>
                            <th>Backend</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>Frontend</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>Mobile</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>DB</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>Infra</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>DevOps</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>ERP/MES</th>
                            <td> - </td>
                        </tr>
                        <tr>
                            <th>기타</th>
                            <td> - </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>
    <!-- <script src="/js/api/sample.js"></script> -->

    <!-- Tagify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>

    <script>
        function loadData() {

            // 구색만 갖춤
            const dev_id = $("#dev_id").val();
            const insertNM = $("#insertNM").val();

            console.log("insertNM =", insertNM);

            $.ajax({
                url: "/select_hr011",
                type: "GET",
                success: function(response) {
                    console.log("요청 성공", response);

                    const data = response.res;

                    $("#brdt_td").val(data.brdt || "");
                    $("#avail_dt_td").val(data.avail_dt || "");

                    $("#work_md").val(data.work_md || "");
                    $("#ctrt_typ").val(data.ctrt_typ || "");

                    $("#hope_rate_amt_td").text(data.hope_rate_amt || "");
                    $("#dev_nm_td").text(data.dev_nm || "");
                    $("#tel_td").text(data.tel || "");
                    $("#email_td").text(data.email || "");
                    $("#region_td").text(data.region || "");
                    $("#main_lang_td").text(data.main_lang || "");
                    $("#exp_yr_td").text(data.exp_yr || "");
                    $("#edu_last_td").text(data.edu_last || "");
                    $("#cert_txt_td").text(data.cert_txt || "");
                },
                error: function(err) {
                    console.error(err);
                    console.log("통신 에러");
                }
            });
        }

        $(function() {

            loadData();

        });
    </script>

</th:block>
<!-- 실제 컨텐츠 영역 끝 -->



</html>