<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hcncinit.Hr010Mapper">
    <!-- 인력관리 > 기본 인적사항 (임시/검색x), 따로 분류할건지는 논의 -->
    <select id="select_hr010" parameterType="map" resultType="map">
        SELECT DATE_FORMAT(brdt, '%Y-%m-%d') AS brdt,
               DATE_FORMAT(avail_dt, '%Y-%m-%d') AS avail_dt,
               dev_id,
               dev_nm,
               tel,
               email,
               region,
               main_lang,
               exp_yr,
               edu_last,
               cert_txt,
               hope_rate_amt,
               avail_dt,
               ctrt_typ
        FROM tb_dev_info
        WHERE 1=1
        <if test="dev_nm != null and dev_nm != ''">
            AND dev_nm LIKE CONCAT('%', #{dev_nm}, '%')
        </if>
    </select>

    <!-- 인력관리 > 기본 인적사항 (상세) (임시/검색x), 임시로 가장 첫번째 데이터 불러오기 // 당장은 단순하게 -->
    <select id="select_hr011" resultType="hashmap" parameterType="string">
        SELECT DATE_FORMAT(brdt, '%Y-%m-%d') AS brdt,
               DATE_FORMAT(avail_dt, '%Y-%m-%d') AS avail_dt,
               dev_id,
               dev_nm,
               tel,
               email,
               region,
               main_lang,
               exp_yr,
               edu_last,
               cert_txt,
               work_md,
               hope_rate_amt,
               avail_dt,
               ctrt_typ,
               note,
               use_yn,
               del_yn,
               crt_ts,
               crt_by,
               upd_ts,
               upd_by
        FROM tb_dev_info
        WHERE dev_id = #{devId}
    </select>

</mapper>
