<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcncinit.Hr011Mapper">

    <!-- [Tab1] 소속 및 계약정보 > 조회 -->
    <select id="select_tab1" resultType="hashmap" parameterType="string">
        SELECT ctrt_id
            , dev_id
            , org_nm
            , biz_typ
            , DATE_FORMAT(st_dt, '%Y-%m-%d') AS st_dt
            , DATE_FORMAT(ed_dt, '%Y-%m-%d') AS ed_dt
            , amt
            , remark
        FROM tb_ctrt_info
        WHERE del_yn='N'
        AND use_yn='Y'
        AND dev_id = #{devId}
        ORDER BY st_dt DESC
        LIMIT 1
    </select>

    <!-- [Tab1] 소속 및 계약정보 > 등록/수정 -->
    <insert id="upsert_tab1" parameterType="map">
        INSERT INTO tb_ctrt_info (
            ctrt_id,
            org_nm,
            biz_typ,
            st_dt,
            ed_dt,
            amt,
            remark,
            dev_id,
            crt_by,
            crt_ts,
            upd_by,
            upd_ts,
            use_yn,
            del_yn
        )
        VALUES (
            #{ctrtId,jdbcType=INTEGER},
            #{orgNm},
            #{bizTyp},
            #{stDt},
            #{edDt},
            #{amt},
            #{remark},
            #{devId},
            #{devId},
            NOW(),
            #{devId},
            NOW(),
            'Y',
            'N'
        ) ON DUPLICATE KEY UPDATE
            org_nm  = #{orgNm},
            biz_typ = #{bizTyp},
            st_dt   = #{stDt},
            ed_dt   = #{edDt},
            amt     = #{amt},
            remark  = #{remark},
            use_yn  = 'Y',
            del_yn  = 'N',
            upd_ts  = NOW(),
            upd_by  = #{devId};
    </insert>

    <!-- [Tab1] 소속 및 계약정보 > 삭제 -->
    <update id="delete_tab1" parameterType="map">
        UPDATE tb_ctrt_info
        SET
        dev_id = #{devId},
        use_yn = 'N',
        del_yn = 'Y',
        del_ts = NOW(),
        del_by = #{devId},
        crt_by = #{devId},
        upd_ts = NOW(),
        upd_by = #{devId}
        WHERE ctrt_id = #{ctrtId}
    </update>

</mapper>
