<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcncinit.Cm010Mapper">

    <select id="selectUserList" resultType="hashmap" parameterType="map">
        SELECT
               user_id
             , user_nm
             , email
             , tel
             , role_cd
             , dept_cd
             , job_cd
             , lock_yn
             , remark
             , use_yn
        FROM tb_user_info
        WHERE del_yn = 'N'
        <if test="searchUseYn != null and searchUseYn != ''">
            AND use_yn = #{searchUseYn}
        </if>
        <if test="searchType != null and searchType != '' and searchKeyword != null and searchKeyword != ''">
            AND ${searchType} LIKE CONCAT('%', #{searchKeyword}, '%')
        </if>
        <if test="searchType == null or searchType == ''">
            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                        user_id LIKE CONCAT('%', #{searchKeyword}, '%')
                     OR user_nm LIKE CONCAT('%', #{searchKeyword}, '%')
                     OR email LIKE CONCAT('%', #{searchKeyword}, '%')
                     OR tel LIKE CONCAT('%', #{searchKeyword}, '%')
                     OR dept_cd LIKE CONCAT('%', #{searchKeyword}, '%')
                     OR role_cd LIKE CONCAT('%', #{searchKeyword}, '%')
                )
            </if>
        </if>
        ORDER BY user_id ASC
    </select>

    <select id="selectLoginUser" resultType="hashmap" parameterType="string">
        SELECT
               user_id
             , user_nm
             , pwd_hash
             , lock_yn
        FROM tb_user_info
        WHERE user_id = #{userId}
          AND del_yn = 'N'
          AND use_yn = 'Y'
          AND lock_yn = 'N'
    </select>

    <insert id="upsertUser" parameterType="map">
        INSERT INTO tb_user_info (
            user_id,
            user_nm,
            pwd_hash,
            email,
            tel,
            role_cd,
            dept_cd,
            job_cd,
            lock_yn,
            remark,
            use_yn,
            del_yn,
            crt_ts,
            crt_by,
            upd_ts,
            upd_by
        ) VALUES (
            #{user_id},
            #{user_nm},
            #{pwd_hash},
            #{email},
            #{tel},
            #{role_cd},
            #{dept_cd},
            #{job_cd},
            #{lock_yn},
            #{remark},
            #{use_yn},
            'N',
            NOW(),
            #{userId},
            NOW(),
            #{userId}
        )
        ON DUPLICATE KEY UPDATE
            user_nm = #{user_nm},
            email = #{email},
            tel = #{tel},
            role_cd = #{role_cd},
            dept_cd = #{dept_cd},
            job_cd = #{job_cd},
            lock_yn = #{lock_yn},
            remark = #{remark},
            use_yn = #{use_yn},
            del_yn = 'N',
            upd_ts = NOW(),
            upd_by = #{userId}
    </insert>

    <update id="deleteUser" parameterType="map">
        UPDATE tb_user_info
           SET del_yn = 'Y',
               del_ts = NOW(),
               del_by = #{userId},
               upd_ts = NOW(),
               upd_by = #{userId}
         WHERE user_id = #{user_id}
    </update>

    <update id="updateLastLogin" parameterType="map">
        UPDATE tb_user_info
           SET last_login_ts = NOW(),
               upd_ts = NOW()
         WHERE user_id = #{user_id}
    </update>

</mapper>
