<header
  class="header"
  th:fragment="headerFragment"
  xmlns:th="http://www.thymeleaf.org"
>
  <div class="lnb">
    <div class="header-top">
      <h1 id="logo" class="logo">
        <!-- <a th:href="@{/P110}" href="/P110"> -->
        <a th:href="@{/hr030}">
          <img
            th:src="@{/images/common/header-logo.png}"
            src="../images/common/header-logo.png"
          />
        </a>
      </h1>
      <div class="logo-sub flex" style="justify-content: center; display: flex">
        <div class="sub-box">인적 자원 관리 시스템</div>
      </div>
      <aside class="app-sidebar left-menu">
        <nav class="app-nav nav">
          <div class="lnb-menu">
            <!--메뉴변수 menu.js-->
          </div>
        </nav>
      </aside>
    </div>
    <div class="header-btn-wrap">

      <button id="logout-btn" class="mg-b10">
        <span class="mem-area">
          <span class="ico-lock"></span>
            <span class="logout-txt">
              <span class="">로그아웃</span>
            </span>
            <span class="right-arrow">
              <img src="/images/common/Ico-arrow-right.png" alt=">" />
            </span>
        </span>
      </button>

      <div class="profile-area">
          <div class="profile-img">
            <img src="/images/common/user-img-none.png" alt="프로필" />
          </div>
        <div th:text="|${session.LOGIN_USER_NM} (${session.LOGIN_USER_ID})|"></div>
      </div>

    </div>
  </div>
</header>
